.icon-image {
  width: 30px; /* Ajusta el ancho deseado */
  height: 30px; /* Ajusta la altura deseada */
}

.slider {
    width: 100%;
    overflow: hidden;
    margin-left: -20px; /* Ajusta el valor según tus necesidades */
  }

  .slide {
    margin-left: 20px; /* Ajusta el valor según tus necesidades, debe coincidir con el margen izquierdo del contenedor padre */
  }

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 200px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.imgZAPATO{
    max-width: 100%;
    height: auto;
}

/* Cuando el ancho de la pantalla es menor a 1200px */
@media (max-width: 1200px) {
    .img-fluid {
        max-width: 100%; /* Puedes ajustar el porcentaje según tus necesidades */
        max-height: 100%;
    }
}

@media (max-width: 767px) {
    .img-fluid {
        max-width: 100%; /* Puedes ajustar el porcentaje según tus necesidades */
        max-height: 100%;
    }
    .imgZAPATO {
        max-width: 150%; /* Ajusta el valor para aumentar el ancho */
        max-height: 28%;
    }
    .img-fluid2 {
        max-width: 105%; /* Puedes ajustar el porcentaje según tus necesidades */
        max-height: 100%;
    }
    
    
}