/* Estilos generales para el cuerpo y los contenedores */
.icon-image {
    width: 30px; /* Ajusta el ancho deseado */
    height: 30px; /* Ajusta la altura deseada */
  }
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
}
/* Estilos generales para el cuerpo y los contenedores */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
}

/* Estilos para el div de la izquierda */
.left-div {
    display: flex;
    align-items: center;
}

.large-image img {
    max-width: 300px;
    height: auto;
}

.small-images img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

/* Estilos para el div de la derecha */
.right-div {
    display: flex;
    flex-direction: column;
}

.small-images {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
h1 {
    font-size: 24px;
    color: #000;
}

.price {
    font-size: 20px;
    color: #A58721;
}

p {
    font-size: 16px;
    color: #000;
    margin: 10px 0;
}

.sizes {
    display: flex;
}

.size {
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    height: 100%; 
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    border-radius: 0px;
    border-color: black;
}

.add-to-cart {
    background-color: #A58721;
    color: #fff;
    border: none;
    padding: 10px 150px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .flex-container {
      flex-direction: column; /* Cambiar la dirección del flex-container a columna */
      align-items: center;
    }
  
    .border-start {
      order: 1; /* Cambiar el orden del elemento con clase "border-start" para que se muestre debajo */
      text-align: center; /* Centrar el texto en el div */
    }
  
    .add-to-cart {
      margin: 0 auto; /* Centrar horizontalmente el botón */
    }

     .sizes {
        text-align: center; /* Centrar el texto de los elementos con la clase "size" */
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%; /* Asegura que el div ocupe todo el espacio vertical disponible */
      }

  }